# Advanced Data Preparation with Python (Car Data)

## Libraries and settings

In [1]:
# Libraries
import os
import re
import time
import fnmatch
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Get current working directory
print(os.getcwd())

/workspaces/python_data_preparation

## Importing data

In [2]:
# Import data from csv to pandas dataframe named 'df'
df = pd.read_csv('./Data/autoscout24_data.csv', sep=";", encoding='utf-8')

# Change the column names to lowercase
df.columns = df.columns.str.lower()

# Display the first 5 rows of the dataframe
df.head()

,url_short,offer_id,scrape_dt,type,price_raw,hp_raw,init_regist,mileage_raw,fuel_type,transmission,dealer_name,dealer_plz,dealer_city,dealer_street_house_nr,dealer_telnr,init_regist_my,init_regist_month,init_regist_year,init_regist_dt
0,https://www.autoscout24.ch/7324420,7324420,2020_03_17 07:34:45,AUDI A5 Sportback 3.0 TDI quattro S-tronic (Li...,CHF 22'500.–,245 PS,10.2014,75'000 km,Diesel,Automatisiertes Schaltgetriebe,***confidential***,8488,Turbenthal,Mettlenstrasse 3,***confidential***,10.2014,10.0,2014.0,2014-10
1,https://www.autoscout24.ch/7512768,7512768,2020_03_17 07:34:55,MERCEDES-BENZ SLK 200 7G-Tronic (Cabriolet),CHF 23'749.–,184 PS,6.2013,46'655 km,Benzin,Automat sequentiell,***confidential***,3186,Düdingen,Brugerastrasse 60,***confidential***,6.2013,6.0,2013.0,2013-06
2,https://www.autoscout24.ch/7512034,7512034,2020_03_17 07:35:03,MERCEDES-BENZ C 350 Avantgarde 4Matic 7G-Troni...,CHF 18'500.–,306 PS,6.2011,138'955 km,Benzin,Automat sequentiell,***confidential***,1262,Eysins,1262 Eysins,***confidential***,6.2011,6.0,2011.0,2011-06
3,https://www.autoscout24.ch/7512728,7512728,2020_03_17 07:35:06,MERCEDES-BENZ A 45 AMG 4Matic Speedshift 7G-DC...,CHF 36'000.–,360 PS,8.2015,43'000 km,Benzin,Automatisiertes Schaltgetriebe,***confidential***,4314,Zeiningen,Am Stutz 21,***confidential***,8.2015,8.0,2015.0,2015-08
4,https://www.autoscout24.ch/7490242,7490242,2020_03_17 07:35:16,AUDI A5 Sportback 2.0 TFSI Sport quattro S-tro...,CHF 48'500.–,252 PS,9.2018,43'300 km,Benzin,Automatisiertes Schaltgetriebe,***confidential***,3250,Lyss,3250 Lyss,***confidential***,9.2018,9.0,2018.0,2018-09

## Count number of rows and columns in the data frame

In [3]:
# Count number of rows and columns in the data frame
# Dimension (rows, columns)
print('Dimension:', df.shape)

# Number of rows
print('Number of rows:', df.shape[0])

# Number of columns
print('Number of columns:', df.shape[1])

Dimension: (3980, 19)
Number of rows: 3980
Number of columns: 19

## Get data types (raw-format from web scraper)

In [14]:
# Get data types of each column
df.dtypes

url_short                  object
offer_id                    int64
scrape_dt                  object
type                       object
price_raw                  object
hp_raw                     object
init_regist                object
mileage_raw                object
fuel_type                  object
transmission               object
dealer_name                object
dealer_plz                  int64
dealer_city                object
dealer_street_house_nr     object
dealer_telnr               object
init_regist_my             object
init_regist_month         float64
init_regist_year          float64
init_regist_dt             object
dtype: object

## Extract information from raw data using regular expressions (regex)

### Extract numerical values from mileage_raw

In [18]:
# Extract numerical values from mileage_raw
mileage = []
for i in df['mileage_raw']:
    d1 = re.findall("\d+", i)
    try:
        d2 = int(''.join(d1))
    except:
        d2 = None
    mileage.append(d2)

# Save as new variable in the pandas data frame
df['mileage'] = pd.Series(mileage, dtype="int64")

# Show first records of data frame
df[['mileage_raw', 'mileage']].head()

  mileage_raw  mileage
0   75'000 km    75000
1   46'655 km    46655
2  138'955 km   138955
3   43'000 km    43000
4   43'300 km    43300

### Extract numerical values from hp_raw

In [6]:
# Extract numerical values from mileage_raw


# Save as new variable in the pandas data frame


# Show first records of data frame

### Extract numerical values from price_raw

In [7]:
# Extract numerical values from mileage_raw


# Save as new variable in the pandas data frame


# Show first records of data frame

### Get data types of all variables, including the new once

In [8]:
# Get data types of all variables

## Count and remove missing values

In [9]:
# Count and remove missing values


# Reset the index of the dataframe

## Count and remove duplicated values

In [10]:
# Count and remove duplicates


# Reset the index of the dataframe

## Use string manipulation methods to create additional variables from the car type

### Change strings in 'type' to uppercase

In [11]:
# Change strings in 'type' to uppercase and remove leading and trailing whitespaces


# Display variable 'type'

### Calculate length of strings in 'type'

In [12]:
# Calculate length of strings in 'type'


# Display variables 'type' and 'type_len'

### Create binary (0/1) variable 'luxury_car'

### Create variable 'price_per_hp'

### Include current datetime as time stamp

## Discretization of numerical data

## One Hot Encoding

## Scaling

### Min-Max Scaling

### Max-Absolute Scaling

### Robust Scaling

## Standardization

### Z-score Normalization

## Transformation

### Log-Transformation

### SQRT-Transformation

### Box-Cox Transformation

## Combining & organizing data

### Reading car data with geocoded addresses

### Join geo-information to car data using .merge()

### Reading municipality-level data from an .xlsx - file

### Join municipality-level data to the car data data using .merge()

### Sorting data

### Reshaping data

#### Reshaping data using .stack() and .unstack()

#### Reshaping data using .melt()

### Pivoting data using .pivot_table()

### Jupyter notebook --footer info-- (please always provide this at the end of each notebook)

In [13]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
POSIX
Linux | 6.5.0-1025-azure
Datetime: 2024-11-01 19:22:40
Python Version: 3.11.10
-----------------------------------